.navbar {
  padding: 1rem;
  background-color: #333;
  color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-links {
  display: flex;
}

.navbar-auth {
  display: flex;
  gap: 16px;
}

.navbar-link {
  color: white;
  margin-right: 1rem;
  text-decoration: none;
}

.navbar-link:last-child,
.navbar-auth .navbar-link:last-child {
  margin-right: 0;
}
